In [2]:
import pandas as pd
import numpy as np
import acquire

Using cached csv

In [3]:
df = acquire.get_telco_data()

Using cached csv

In [4]:
df.head(2)

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check

In [5]:
df.shape

(7043, 24)

In [6]:
# drops duplicate columns if there are any present
df.drop_duplicates()

,payment_type_id,internet_service_type_id,contract_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,2,1,2,0002-ORFBO,Female,0,Yes,Yes,9,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,One year,DSL,Mailed check
1,2,1,1,0003-MKNFE,Male,0,No,No,9,Yes,...,No,No,Yes,No,59.90,542.4,No,Month-to-month,DSL,Mailed check
2,1,2,1,0004-TLHLJ,Male,0,No,No,4,Yes,...,No,No,No,Yes,73.90,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,1,2,1,0011-IGKFF,Male,1,Yes,No,13,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,2,2,1,0013-EXCHZ,Female,1,Yes,No,3,Yes,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Month-to-month,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,2,9987-LUTYD,Female,0,No,No,13,Yes,...,Yes,No,No,No,55.15,742.9,No,One year,DSL,Mailed check
7039,1,2,1,9992-RRAMN,Male,0,Yes,No,22,Yes,...,No,No,Yes,Yes,85.10,1873.7,Yes,Month-to-month,Fiber optic,Electronic check
7040,2,1,1,9992-UJOEL,Male,0,No,No,2,Yes,...,No,No,No,Yes,50.30,92.75,No,Month-to-month,DSL,Mailed check
7041,2,1,3,9993-LHIEB,Male,0,Yes,Yes,67,Yes,...,Yes,No,Yes,No,67.85,4627.65,No,Two year,DSL,Mailed check
7042,1,1,3,9995-HOTOH,Male,0,Yes,Yes,63,No,...,No,Yes,Yes,No,59.00,3707.6,No,Two year,DSL,Electronic check

In [7]:
# remove any columns that don't bring any value

drop_columns= ['payment_type_id', 'internet_service_type_id', 'contract_type_id', 'customer_id']
df = df.drop(columns = drop_columns)

In [8]:
df.head(2)

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.3,No,One year,DSL,Mailed check
1,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.4,No,Month-to-month,DSL,Mailed check

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 7043 non-null   object
 1   senior_citizen         7043 non-null   int64
 2   partner                7043 non-null   object
 3   dependents             7043 non-null   object
 4   tenure                 7043 non-null   int64
 5   phone_service          7043 non-null   object
 6   multiple_lines         7043 non-null   object
 7   online_security        7043 non-null   object
 8   online_backup          7043 non-null   object
 9   device_protection      7043 non-null   object
 10  tech_support           7043 non-null   object
 11  streaming_tv           7043 non-null   object
 12  streaming_movies       7043 non-null   object
 13  paperless_billing      7043 non-null   object
 14  monthly_charges        7043 non-null   float64
 15  total_charges          7043 non-null   object
 16  churn                  7043 non-null   object
 17  contract_type          7043 non-null   object
 18  internet_service_type  7043 non-null   object
 19  payment_type           7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [20]:
# change dtype in column from string so it can be used
df.total_charges = pd.to_numeric(df.total_charges, errors = 'coerce')
df['total_charges']

0        593.30
1        542.40
2        280.85
3       1237.85
4        267.40
         ...
7038     742.90
7039    1873.70
7040      92.75
7041    4627.65
7042    3707.60
Name: total_charges, Length: 7043, dtype: float64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gender                 7043 non-null   object
 1   senior_citizen         7043 non-null   int64
 2   partner                7043 non-null   object
 3   dependents             7043 non-null   object
 4   tenure                 7043 non-null   int64
 5   phone_service          7043 non-null   object
 6   multiple_lines         7043 non-null   object
 7   online_security        7043 non-null   object
 8   online_backup          7043 non-null   object
 9   device_protection      7043 non-null   object
 10  tech_support           7043 non-null   object
 11  streaming_tv           7043 non-null   object
 12  streaming_movies       7043 non-null   object
 13  paperless_billing      7043 non-null   object
 14  monthly_charges        7043 non-null   float64
 15  total_charges          7032 non-null   float64
 16  churn                  7043 non-null   object
 17  contract_type          7043 non-null   object
 18  internet_service_type  7043 non-null   object
 19  payment_type           7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [28]:
# looking at the total charges column and checking if any values are missing
df.total_charges.isna().value_counts()

False    7032
True       11
Name: total_charges, dtype: int64

In [31]:
# reassigning datafram and dropping the null values
df = df[df.total_charges.notnull()]
df.shape

(7032, 20)

In [32]:
df.head()

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,contract_type,internet_service_type,payment_type
0,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,Yes,Yes,No,Yes,65.6,593.30,No,One year,DSL,Mailed check
1,Male,0,No,No,9,Yes,Yes,No,No,No,No,No,Yes,No,59.9,542.40,No,Month-to-month,DSL,Mailed check
2,Male,0,No,No,4,Yes,No,No,No,Yes,No,No,No,Yes,73.9,280.85,Yes,Month-to-month,Fiber optic,Electronic check
3,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,No,Yes,Yes,Yes,98.0,1237.85,Yes,Month-to-month,Fiber optic,Electronic check
4,Female,1,Yes,No,3,Yes,No,No,No,No,Yes,Yes,No,Yes,83.9,267.40,Yes,Month-to-month,Fiber optic,Mailed check

In [34]:
# more in depth view of what values these columns hold and how many
col_list = df.columns.tolist()
for col in col_list:
    if col not in ['customer_id', 'tenure', 'monthly_charges', 'total_charges']:
        print(df[col].value_counts(dropna=False))

Male      3549
Female    3483
Name: gender, dtype: int64
0    5890
1    1142
Name: senior_citizen, dtype: int64
No     3639
Yes    3393
Name: partner, dtype: int64
No     4933
Yes    2099
Name: dependents, dtype: int64
Yes    6352
No      680
Name: phone_service, dtype: int64
No                  3385
Yes                 2967
No phone service     680
Name: multiple_lines, dtype: int64
No                     3497
Yes                    2015
No internet service    1520
Name: online_security, dtype: int64
No                     3087
Yes                    2425
No internet service    1520
Name: online_backup, dtype: int64
No                     3094
Yes                    2418
No internet service    1520
Name: device_protection, dtype: int64
No                     3472
Yes                    2040
No internet service    1520
Name: tech_support, dtype: int64
No                     2809
Yes                    2703
No internet service    1520
Name: streaming_tv, dtype: int64
No                     2781
Yes                    2731
No internet service    1520
Name: streaming_movies, dtype: int64
Yes    4168
No     2864
Name: paperless_billing, dtype: int64
No     5163
Yes    1869
Name: churn, dtype: int64
Month-to-month    3875
Two year          1685
One year          1472
Name: contract_type, dtype: int64
Fiber optic    3096
DSL            2416
None           1520
Name: internet_service_type, dtype: int64
Electronic check             2365
Mailed check                 1604
Bank transfer (automatic)    1542
Credit card (automatic)      1521
Name: payment_type, dtype: int64

In [35]:
# changing 'no internet service', which is present in a lot of columns, to 'no'
df.replace('No internet service', 'No', inplace = True)

In [38]:
df.device_protection.value_counts()

No     4614
Yes    2418
Name: device_protection, dtype: int64

In [40]:
# get dummies for columns that have two values (yes,no) or gender, and dropping first
dummy_df = pd.get_dummies(df[['gender', 'partner', 'dependents', 'online_security', 'online_backup',
                              'device_protection', 'tech_support', 'streaming_tv', 'streaming_movies', 
                              'paperless_billing', 'churn']], drop_first = True)

# get dummies for columns that have more than two values
dummy_df2 = pd.get_dummies(df[['multiple_lines', 'contract_type', 'internet_service_type', 'payment_type']])

In [ ]:
# dropping columns that are now duplicates, from the dummies created, or not needed

drop_cols = ['gender', 'partner', 'dependents', 'online_security', 
             'online_backup', 'device_protection', 'tech_support', 'streaming_tv',
             'streaming_movies', 'paperless_billing', 'churn']